@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Arvo:700);


.body {
	height:500px;
	overflow: scroll;
	font-size: 1.4em;
	color:#424242;
	border-top: solid 4px #607d8b;
	font-family: ‘Raleway’, sans-serif;
    font-weight: 300;

    display: flex;
    min-height: 100vh;
    flex-direction: column;

}


.main {
    flex: 1 0 auto;
  }

.nav-wrapper{
	border: none;
	height:40px;
}

a:visited {
	color: #bf360c;
}

.side-left{
	height:500px;
	border-top: solid 4px #607d8b;
}

.name {
	color:#01579b;
	font-family: ‘Arvo’, serif;
    font-weight: 700;

}

.links{
	color:#bf360c;
	font-weight: 800;
	font-size: 1.5em;
	font-family: ‘Raleway’, sans-serif;
}

ul li{
	display: inline;
}

.resume {
	color:#aeea00;
}

.projectone {
	margin-left: 20;
}
 .company{
 	margin-bottom: 0%;
 	color:#bf360c;
	font-weight: 800;
	font-size: 1.5em;
	font-family: ‘Raleway’, sans-serif;
 }
footer{
	height: 80px;
	background-color:#607d8b;

}