@font-face {
	font-family: 'LinuxLibertine 0';
	src: url('lin_libertine/LinLibertine_R.otf'); 
	src: 
		local('LinLibertine_R'),
		local('LinLibertine_R'),
		url('LinLibertine_R.otf') 
		format('opentype');
}
/*bold version*/
@font-face {
	font-family: 'LinuxLibertine 0';
	src: url('font/LinLibertine_RB.otf'); 
	src: 
		local('LinLibertine_RB'),
		local('LinLibertine_RB'),
		url('font/LinLibertine_RB.otf') 
		format('opentype');
}
@font-face {
	font-family: 'LinuxLibertine 0';
	src: url('font/LinLibertine_RI.otf'); 
	src: 
		local('LinLibertine_RI'),
		local('LinLibertine_RI'),
		url('font/LinLibertine_RI.otf') 
		format('opentype');
}

@media (min-width: 350px)  {
    .projects {
        margin-top: 150px;
        padding-left: 20px;
	}
	.name{
	font-size: 5.9vw;
}
}
p {
	font-size: 1.5em;
}

.body{
	height:500px;
	color:#424242;
	/*border-top: solid 4px #607d8b;*/
	font-family: ‘LinuxLibertine 0’;

}

.nav-wrapper{
	
	margin-top:20px;
}

.side-nav{
	opacity:0.8;

}

.side-nav li{
	float: none;
    padding: 0px;
    margin: 2px;
	
}
.icon-nav li{
	color:black;
	padding-right:5px;

}
.github{
	padding-top:10px;
}

a:visited {
	color: black;
}

.name {
	font-family: ‘LinuxLibertine 0’;
    font-weight: bold;
    color:#424242;
  
    
}
.project-name{
	font-family: 'LinuxLibertine 0';
	font-variant: italic; 
	color:#dd2c00;
	opacity:.9;
}

.links{
	color:black;
	font-weight: 500;
	font-size: 1.5em;
	font-family: ‘Dosis’, sans-serif;
}

ul li{
	display: inline;
	padding-left: 10px;
}


.project {
	margin: 20px;

}

.projects {
	padding-left: 40px;

}
.company{
 	color:#bf360c;
	font-weight: 500;
	font-size: 1.5em;
	font-family: ‘Dosis’, sans-serif;
 }

footer{
	height: 100px;
	/*background-color:#607d8b;*/
	/*border: none;*/

}

